<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservaCanchas</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservaCanchas.styles.css" asp-append-version="true" />
</head>
<body class="bg-web">
    <header>
        <nav class="barra-navegacion">
            <div>
                <a href="@Url.Action("Index", "Home")">ReservaCanchas</a>
            </div>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <ul class="menu">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Inicio2", "Home")">Inicio 2</a></li>
                    <li><a href="@Url.Action("Logout", "Auth")">Cerrar Sesión</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Auth")">Iniciar Sesión</a></li>
                }
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
  function toggleMenu() {
    const menu = document.querySelector('.menu');
    menu.classList.toggle('show');
  }
</script>
</html>
