<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservaCanchas</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservaCanchas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="@Url.Action("Index", "Home")">ReservaCanchas</a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Privacy", "Home")">Privacy</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Auth")">Loginn</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - ReservaCanchas - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
