@model ReservaCanchas.Models.Complejo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Complejo</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
